[submodule "cuba-app"]
	path = cuba-app
	url = https://github.com/cuba-elements/cuba-app.git
[submodule "cuba-data"]
	path = cuba-data
	url = https://github.com/cuba-elements/cuba-data.git
[submodule "cuba-login"]
	path = cuba-login
	url = https://github.com/cuba-elements/cuba-login.git
[submodule "cuba-styles"]
	path = cuba-styles
	url = https://github.com/cuba-elements/cuba-styles.git
